version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/node:latest
    working_directory: /home/circleci/project

  node_modules_cache_params: &node_modules_cache_params
    key: yarn-packages-{{ .Branch }}-{{ checksum "./yarn.lock" }}
    paths:
      - node_modules

jobs:
  build_deploy:
    <<: *container_config
    steps:
      - checkout
      - run:
          name: Show system information.
          command: |
            echo "Node $(node -v)"
            echo "Yarn $(yarn -v)"
      - restore_cache:
          name: Restore Cache.
          <<: *node_modules_cache_params
      - run:
          name: Setup to GAS clasp environment.
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Saving Cache.
          <<: *node_modules_cache_params
      - run:
          name: Run Lint.
          command: yarn lint
      - run:
          name: Run Test.
          command: yarn test
      - run:
          name: Run webpack Build.
          command: yarn build
      - run:
          name: Deploy to GAS.
          command: |
            if [[ ${CIRCLE_BRANCH} = 'master' ]]; then
              ./scripts/deploy_ci.sh
            else
              echo "${CIRCLE_BRANCH} isn't deploy branch."
            fi

workflows:
  version: 2
  build_deploy_workflow:
    jobs:
      - build_deploy
        